services:
  postgres:
    image: postgres:18
    environment:
      POSTGRES_DB: cursoyoutube
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456  # Cambia si quieres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"  # Accede: localhost:8080

volumes:
  postgres_data:
